/*bg-blocks*/
$header-bg-color: #ffffff;
$nav-menu-bg-color: #F2F5F9;
$history-block-bg-color: #F2F6F9;
$footer-bg-color: #173269;
$phone-nav-bg: #ffffff;

/*fonts*/
$Regular: "AvenirNext-Regular", sans-serif;
$Medium: "AvenirNext-Medium", sans-serif;
$Bold: "AvenirNext-Bold", sans-serif;

/*text-color*/
$language-color: #424559;
$header-color: #37426A;
$banner-color: #ffffff;
$heading-blocks-color: #173269;
$history-year-color: #2a7de2;
$history-link-color: #AABBD0;


/*font-size*/
$header-fs: 17px;
$header-fs-nav: 16px;
$banner-heading-fs: 40px;
$banner-text-fs: 25px;
$heading-blocks-fs: 23px;
$information-card-fs: 17px;
$year-fs: 40px;
$year-text-fs: 17px;

/*bg-btn*/
$information-btn: #1557B8;